<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-head text-center p-3">
          <span class="titulo"
            ><i class="fa fa-list" aria-hidden="true"></i> LISTADO DE PRODUCTOS
          </span>
          <button
            class="btn btn-primary float-end"
            routerLink="/crear-producto"
          >
            Nuevo
          </button>
        </div>
        <div class="card-body">
          <!-- tabla -->
          <table
            class="table table-striped mt-3"
            *ngIf="listProductos.length > 0"
          >
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <td>{{ producto.producto }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.ubicacion }}</td>
                <td>{{ producto.precio | currency: "BOB":"Bs" }}</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                </td>
              </tr>
              <h5 *ngIf="listProductos.length == 0" style="text-align: start">
                No hay productos para mostrar
              </h5>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
