<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-head text-center">
          <span class="titulo"
            ><i class="far fa-plus-square"></i> CREAR PRODUCTO</span
          >
        </div>
        <div class="card-body">
          <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fas fa-wine-bottle"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Producto"
                aria-label="Producto"
                aria-describedby="basic-addon1"
                formControlName="producto"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fas fa-list" aria-hidden="true"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Categoria"
                aria-label="Categoria"
                aria-describedby="basic-addon1"
                formControlName="categoria"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fas fa-map-marked"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Ubicacion"
                aria-label="Ubicacion"
                aria-describedby="basic-addon1"
                formControlName="ubicacion"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fas fa-wine-bottle"></i
              ></span>
              <input
                type="number"
                class="form-control"
                placeholder="Precio"
                aria-label="Precio"
                aria-describedby="basic-addon1"
                formControlName="precio"
              />
            </div>
            <div class="mb-3">
              <button class="btn btn-secondary float-start btn-lg" routerLink="">VOLVER</button>
              <button type="submit" class="btn btn-success float-end btn-lg">ACEPTAR</button>             
            </div>
          </form>
        </div>
      </div>
    </div>
    m
  </div>
</div>
